<h1> If Else | Control Flow</h1>

<button (click)="hideDiv()"> Hide Div</button>
<button (click)="showDiv()">Show Div</button>
<button (click)="toggleDiv()"> Toggle Div </button>
@if(display){
    <div style="width:200px; height: 200px; background-color: green;">
    
        </div>
}

<!-- @if(x==0){
    <div style="width:200px; height: 200px; background-color: green;">
    
    </div>
} -->

<hr>

<button (click)="toggleDivTwo()"> {{toggle?'Show Red Div':'Show Green Div'}} </button>

@if(toggle){
    <div style="height:100px;width:100px;background-color: green;">

    </div>

}@else{
    <div style="height:100px;width:100px;background-color: red;">
    
    </div>
    
}
